nav {
  li {
    .active {
      color: black !important;
      background-color: white;
      padding-bottom: 10%;
    }
    .custom-icon {
      font-size: 30px;
      margin-right: 10px;
    }
  }
}

nav {
  li {
    padding-bottom: 10%;
    padding: 20px;
  }
  height: 100vh;
}

nav a {
  color: white;
  text-decoration: none; /* Remove underline from links */
}
