# Ignore binaries
**bin/
bin/
obj/
obj/**
obj**/

# Ignore NuGet packages
packages/

# Ignore user-specific files
*.suo
*.user
.vs/
.vs/**
.vs**/

# Ignore logs and temporary files
*.log
*.tmp
*.lock

# Ignore configuration files
appsettings.json # May contain sensitive data

# Ignore IDE/editor specific files
.vscode/
.vscode/**
.vscode**/
.idea/
.idea/**
.idea**/
